<!DOCTYPE html>
<html lang="en" ng-app="contatooh">
	<head>
		<meta name="viewport", content="width=device-width, initial-scale=1" />
		<meta charset="UTF-8">

		<title>Contatooh</title>

		<!-- bootstrap -->
		<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
	</head>

	<body class="container">
		<%if (usuarioLogado.length > 0) { %>
		<div class="text-align">
			<p>
				Logado como: <span id="usuario-logado"><%=usuarioLogado %></span>
			</p>

			<a href="/logout">Logout</a>
		</div>
		<% } %>

		<div ng-view></div>

		<!-- libs -->
		<script src="vendor/angular/angular.js"></script>
		<script	src="vendor/angular-route/angular-route.js"></script>
		<script	src="vendor/angular-resource/angular-resource.js"></script>
		<!-- libs -->

		<!-- modules -->
		<script src="js/main.js"></script>
		<!-- modules -->

		<!-- services -->
		<script	src="js/services/ContatoService.js"></script>
		<script	src="js/services/InterceptorService.js"></script>
		<!-- services -->

		<!-- controllers -->
		<script src="js/controllers/ContatosController.js"></script>
		<script	src="js/controllers/ContatoController.js"></script>
		<!-- controllers -->
	</body>
</html>